<template>
  <v-layout align-space-around column fill-height>
    <v-layout class="mx-auto" v-if="!qrcodeUrl">
      <form @submit.prevent="submit($data)" v-if="!compactMode">
        <v-row class="justify-space-around justify-center">
          <v-col cols="auto">
            <v-card class="mx-auto px-8" v-if="!qrcodeUrl">

              <v-card-title primary-title class="justify-center pa-4">
                <div class="justify-center">
                  <div class="headline">
                    {{ msg }}
                    <v-alert :value="errorMsg != ''" type="error">
                      {{ errorMsg }}
                    </v-alert>
                  </div>
                </div>
              </v-card-title>
              <v-card-text>
                <div class="pa-4" :class="{ 'hasError': $v.amount.$error }">
                  <v-text-field reverse v-model="amount" label="Bedrag" autofocus type="number"
                                step=".01" suffix="€" required @blur="$v.amount.$touch()"></v-text-field>
                  <p v-if="$v.amount.$dirty && !$v.amount.required">Het bedrag is verplicht!</p>
                  <p v-if="!$v.amount.between">Bedrag moet tussen {{
                    formatAmount($v.amount.$params.between.min) }} en {{
                    formatAmount($v.amount.$params.between.max) }}</p>
                </div>
                <div class="pa-4" :class="{ 'hasError': $v.transactionDescription.$error }">
                  <v-text-field reverse v-model="transactionDescription"
                                label="Omschrijving" type="text" :readonly="!transactionDescriptionEditable"
                                required @blur="$v.transactionDescription.$touch()"></v-text-field>
                  <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.required">De omschrijving is
                    verplicht!</p>
                  <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.maxLength">De omschrijving mag
                    maximaal 32
                    karaketers bevatten</p>
                </div>
              </v-card-text>
              <v-card-actions class="justify-center">
                <v-btn class="ma-4" large dark color="success" @click="submit">Maak Betaal QR Code
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </form>
      <form @submit.prevent="submit($data)" class="compact-form" v-else>
        <v-row class="justify-space-around justify-center">
          <v-col cols="12">
            <v-card class="mx-auto px-8">
              <v-card-text>
                <div>
                  {{ msg }}
                  <v-alert :value="errorMsg != ''" type="error">
                    {{ errorMsg }}
                  </v-alert>
                </div>
                <div class="px-4" :class="{ 'hasError': $v.amount.$error }">
                  <v-text-field reverse v-model="amount" label="Bedrag" autofocus type="number"
                                step=".01" suffix="€" required @blur="$v.amount.$touch()"></v-text-field>
                  <p v-if="$v.amount.$dirty && !$v.amount.required">Het bedrag is verplicht!</p>
                  <p v-if="!$v.amount.between">Bedrag moet tussen {{
                    formatAmount($v.amount.$params.between.min) }} en {{
                    formatAmount($v.amount.$params.between.max) }}</p>
                </div>
                <div class="px-4" :class="{ 'hasError': $v.transactionDescription.$error }">
                  <v-text-field reverse v-model="transactionDescription"
                                label="Omschrijving" type="text" :readonly="!transactionDescriptionEditable"
                                required @blur="$v.transactionDescription.$touch()"></v-text-field>
                  <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.required">De omschrijving is
                    verplicht!</p>
                  <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.maxLength">De omschrijving mag
                    maximaal 32
                    karaketers bevatten</p>
                </div>
              </v-card-text>
              <v-card-actions class="justify-center">
                <v-btn class="ma-4 d-none d-sm-flex" large dark color="success" @click="submit">Maak Betaal QR Code
                </v-btn>
                <v-btn class="d-none d-sm-flex d-md-none" fab ripple fixed bottom right large dark color="success"
                       @click="submit">
                  <v-icon color="#fff">keyboard_arrow_right</v-icon>
                </v-btn>
                <v-btn class="d-flex d-sm-none" fab ripple absolute bottom right large dark color="success"
                       @click="submit">
                  <v-icon color="#fff">keyboard_arrow_right</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </form>
    </v-layout>
    <v-tabs fixed-tabs v-if="qrcodeUrl !== false || idqQrcodeUrl !== false" v-model="active" class="mb-4 py-2"
            color="#45adee" light
            slider-color="#2ab0ed">
      <v-tabs-slider color="red"></v-tabs-slider>

      <v-tab key="eqr" href="#eqr" ripple>
        Betaal QR Code
      </v-tab>
      <v-tab key="idq" href="#idq" ripple @click="getIdqQr">
        BankApp QR Code
      </v-tab>

      <v-tab-item value="eqr">
        <v-card class="qr-image">
          <v-container fluid>
            <p>{{formatAmount(amount)}} betalen</p>
            <h5>{{transactionDescription}}</h5>
            <v-img v-if="qrcodeUrl !== false" :src="qrcodeUrl" max-height="75vh" min-height="35vh" contain></v-img>
            <div v-if="qrcodeUrl === false">Bezig met ophalen van de Betaal QR Code</div>
            <v-icon size=200 color="green" class="checkMark"
                    v-if="idqTransactionStatus === 'Completed' || transactionStatus === 'Completed'">check
            </v-icon>
            <v-icon size=200 color="red" class="checkMark"
                    v-if="transactionStatus === 'Cancelled' || transactionStatus === 'Expired' || transactionStatus === 'Failed'">
              error
            </v-icon>
            <span v-if="transactionStatus === 'Continuous'">
              <v-chip v-for="payment in payments"
                      :key="payment.id"
                      v-bind:data="payment">
                <v-avatar>
                  <v-icon color="blue" v-if="payment.status === 'Open'">add_circle</v-icon>
                  <v-icon color="orange" v-if="payment.status === 'Cancelled'">cancel</v-icon>
                  <v-icon color="gray" v-if="payment.status === 'Expired'">av_timer</v-icon>
                  <v-icon color="green" v-if="payment.status === 'Success'">check</v-icon>
                </v-avatar>
                {{formatAmount(payment.amount/100)}} {{payment.cname}}
              </v-chip>
            </span>
            <v-btn color="warning" @click="clear" v-if="transactionStatus === false && idqTransactionStatus === false">
              Annuleer
            </v-btn>
            <v-btn color="success" @click="reset" v-else>Klaar</v-btn>
          </v-container>
        </v-card>
      </v-tab-item>

      <v-tab-item value="idq">
        <v-card class="qr-image">
          <v-container fluid>
            <p>{{formatAmount(amount)}} betalen</p>
            <h5>{{transactionDescription}}</h5>
            <v-img v-if="idqQrcodeUrl !== false" :src="idqQrcodeUrl" max-height="75vh" min-height="35vh"
                   contain></v-img>
            <div v-if="idqQrcodeUrl === false">Bezig met ophalen van de BankApp QR Code</div>
            <v-icon size=200 color="green" class="checkMark"
                    v-if="idqTransactionStatus === 'Completed' || transactionStatus === 'Completed'">check
            </v-icon>
            <v-icon size=200 color="red" class="checkMark"
                    v-if="idqTransactionStatus === 'Cancelled' || idqTransactionStatus === 'Expired' || idqTransactionStatus === 'Failed'">
              error
            </v-icon>
            <span v-if="idqTransactionStatus === 'Continuous'">
              <v-chip v-for="payment in payments"
                      v-bind:key="payment.id"
                      v-bind:data="payment">
              <v-avatar>
                <v-icon color="blue" v-if="payment.status === 'Open'">add_circle</v-icon>
                <v-icon color="orange" v-if="payment.status === 'Cancelled'">cancel</v-icon>
                <v-icon color="gray" v-if="payment.status === 'Expired'">av_timer</v-icon>
                <v-icon color="green" v-if="payment.status === 'Success'">check</v-icon>
              </v-avatar>
              {{formatAmount(payment.amount/100)}} {{payment.cname}}
            </v-chip>
            </span>
            <v-btn color="warning" @click="clear" v-if="transactionStatus === false && idqTransactionStatus === false">
              Annuleer
            </v-btn>
            <v-btn color="success" @click="reset" v-else>Klaar</v-btn>
          </v-container>
        </v-card>
      </v-tab-item>
    </v-tabs>

  </v-layout>

</template>

<script>
  import { between, decimal, required, maxLength } from 'vuelidate/lib/validators'

  export default {
    name: 'create',
    data () {
      return {
        msg: 'Maak Betaal QR Code',
        errorMsg: '',
        qrcodeUrl: false,
        idqQrcodeUrl: false,
        showPayQr: true,
        idqTransactionID: false,
        idqTransactionStatus: false,
        transactionID: false,
        transactionStatus: false,
        payments: {},
        checks: 0,
        remoteCheck: false,
        amount: '',
        transactionDescription: this.$store.state.transactionDescription,
        transactionDescriptionEditable: this.$store.state.transactionDescriptionEditable,
        terminal: this.$store.state.terminal,
        oneoff: 1,
        active: 'eqr',
        es: []
      }
    },

    validations: {
      amount: { required, decimal, between: between(0.50, 1000) },
      transactionDescription: { required, maxLength: maxLength(32) }
    },
    computed: {
      compactMode () {
        return this.$store.state.compactMode
      }
    },
    created () {
      if (this.$store.state.authKey.length === 0 || this.$store.state.accessToken.length === 0) {
        this.$router.replace(this.$route.query.redirect || '/')
      }
      this.qrcodeUrl = false
      this.transactionID = false
      this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.authKey
    },
    mounted () {
      if (!this.transactionDescription || this.transactionDescription.length === 0) {
        this.transactionDescriptionEditable = true
      }
    },
    async beforeRouteLeave (to, from, next) {
      if (this.transactionID !== false && this.transactionStatus !== 'Completed') {
        let res = await this.$confirm('Weet je zeker dat je de transactie wil annuleren?', {
          title: 'Transactie Annuleren?',
          buttonFalseText: 'Nee',
          buttonTrueText: 'Ja'
        })
        if (res) {
          this.es = []
          return next()
        } else {
          return false
        }
      }
      next()
    },
    beforeRouteUpdate (to, from, next) {
      this.es = []
      next()
    },
    methods: {
      async clear () {
        if (this.transactionID !== false && this.transactionStatus !== 'Completed') {
          let res = await this.$confirm('Weet je zeker dat je de transactie wil annuleren?', {
            title: 'Transactie Annuleren?',
            buttonFalseText: 'Nee',
            buttonTrueText: 'Ja'
          })
          if (res) {
            this.reset()
          } else {
            return false
          }
        }
      },
      reset () {
        this.idqQrcodeUrl = false
        this.qrcodeUrl = false
        this.es = []
        this.active = 'eqr'
        this.transactionID = false
        this.transactionStatus = false
        this.idqTransactionStatus = false
        this.idqTransactionID = false
      },
      formatAmount (value) {
        let val = (value / 1).toFixed(2).replace('.', ',')
        return '€ ' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      },
      submit () {
        this.$v.amount.$touch()
        this.$v.transactionDescription.$touch()
        if (this.$v.amount.$error) return

        this.create()
      },
      create () {
        const formData = new FormData()
        formData.append('amount', this.amount.toString())
        formData.append('description', this.transactionDescription.toString())
        formData.append('oneoff', this.oneoff.toString())

        this.$http
          .post('/create?access_token=' + this.$store.state.accessToken, formData)
          .then(request => this.created(request))
          .catch((e) => this.failed(e))
      },
      createIdq () {
        const formData = new FormData()
        formData.append('transaction_id', this.transactionID.toString())

        this.$http
          .post('/create-idq?access_token=' + this.$store.state.accessToken, formData)
          .then(request => this.idqCreated(request))
          .catch((e) => this.failed(e))
      },
      created (r) {
        if (r.error) {
          console.error(r)
          alert(r.error)
          return
        }
        this.qrcodeUrl = (r.data.url ? r.data.url : false)
        this.transactionID = (r.data.id ? r.data.id : false)
        this.initMercure()
      },
      idqCreated (r) {
        if (r.error) {
          console.error(r)
          alert(r.error)
          return
        }
        this.idqQrcodeUrl = (r.data.url ? r.data.url : false)
        this.idqTransactionID = (r.data.id ? r.data.id : false)
        this.initMercure()
      },
      initMercure () {
        const u = new URL('https://mercure.detechniek.nl/.well-known/mercure')
        const transactionID = (this.active === 'idq' ? this.idqTransactionID : this.transactionID)

        if (!this.es[transactionID]) {
          u.searchParams.append('topic', 'qr-kassa-pwa-transaction-' + transactionID)

          this.es[transactionID] = new EventSource(u)
          this.es[transactionID].onmessage = e => {
            let d = JSON.parse(e.data)
            if (parseInt(d.transaction_id) === parseInt(transactionID)) {
              this.checkTransaction()
            }
          }
        } else {
          alert('error #237')
          console.error('initMercure called with an open connection')
        }
      },
      checkTransaction () {
        this.checks++
        this.remoteCheck = this.checks % 5 === 0
        const transactionID = (this.active === 'idq' ? this.idqTransactionID : this.transactionID)

        if (transactionID === false) {
          this.es[transactionID] = false
          return false
        }

        this.$http
          .get('/get-status?transactionID=' + transactionID + '&remoteCheck=' + (this.remoteCheck ? 1 : 0))
          .then(request => this.processRequest(request, transactionID))
          .catch((e) => this.failed(e))
      },
      processRequest (data, transactionID) {
        if (this.active === 'idq') {
          this.idqTransactionStatus = data.data.status
        } else {
          this.transactionStatus = data.data.status
        }
        if (data.data.payments) {
          this.payments = data.data.payments
        }
        if (data.data.status === 'Completed') {
          this.es[transactionID] = false
        }
      },
      failed (e) {
        this.errorMsg = 'Er is een fout opgetreden, probeer het nogmaals'
        console.error(e)
      },
      getEqr () {
        // this.showPayQr = true
        // this.active = 'eqr'
      },
      getIdqQr () {
        // this.showPayQr = false
        // this.active = 'idq'

        if (this.idqQrcodeUrl === false || this.idqTransactionID === false) {
          this.createIdq()
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .compact-form {
    margin-top: -32px;
  }

  .checkMark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
  }

  .qr-image {
    width: 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }
</style>
