<template>

  <div v-if="!connected">
    <v-layout class="hello" row align-center justify-center fill-height>

      <div class="message" xs12>

        <h1>{{ msg }}</h1>

        <v-layout align-center justify-center column fill-height>
          <v-flex xs2>
            <v-btn to="/scan" large dark color="primary">
              <v-icon color="#fff" class="mr-2">fa-qrcode</v-icon>
              Verbind via QR Code
            </v-btn>
          </v-flex>
          <v-flex xs2 my-4>
            of
          </v-flex>
          <v-flex xs2>
            <v-btn to="/pin" large dark color="success">
              <v-icon color="#fff" class="mr-2">dialpad</v-icon>
              Voer PIN Code in
            </v-btn>
          </v-flex>
        </v-layout>
      </div>
    </v-layout>
    <v-layout row align-center justify-center class="mt-4">
      <v-btn small href="https://qr-kassa.nl" target="_blank" rel="noopener">
        Meer weten over QR-Kassa?
      </v-btn>
    </v-layout>
  </div>
  <div v-else>
    <v-layout align-center justify-center row fill-height>
      <v-card width="500" v-if="this.$store.state.accessToken !== ''">
        <v-card-text>
          <v-icon color="success" size="150" class="py-4">thumb_up</v-icon>

          <v-flex>
            <div class="v-toolbar__title">U bent ingelogd als</div>
            <table class="data-table v-datatable v-table theme--light">
              <tbody>
              <tr>
                <td>Klantnummer</td>
                <td>{{ this.$store.state.organizationId }}</td>
              </tr>
              <tr>
                <td>Organisatie</td>
                <td>{{ this.$store.state.organization }}</td>
              </tr>
              <tr>
                <td>Terminal naam</td>
                <td>{{ this.$store.state.terminal }}</td>
              </tr>
              </tbody>
            </table>
          </v-flex>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn large dark color="success" @click="next">Verder</v-btn>
        </v-card-actions>
      </v-card>
    </v-layout>
  </div>

</template>

<script>
  export default {
    name: 'hello',
    computed: {
      connected () {
        return this.$store.state.accessToken !== ''
      }
    },
    data () {
      return {
        msg: 'Welkom bij QR-Kassa'
      }
    },
    methods: {
      next () {
        this.$router.replace(this.$route.query.redirect || '/create')
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .hello {
    background: rgba(0, 0, 0, 0.8);
    max-width: 400px;
    min-height: 300px;
    margin: 0 auto;
  }

  .hello .message {
    height: 100%;
    display: block;
  }

  td {
    text-align: left;
  }
</style>
