<template>
  <v-tabs
    v-model="selectedTab"
    color="#45adee"
    dark
    icons-and-text
  >
    <v-tabs-slider color="red"></v-tabs-slider>

    <v-tab href="#tab-1">
      Info
      <v-icon>info</v-icon>
    </v-tab>

    <v-tab href="#tab-2">
      Transacties
      <v-icon>receipt</v-icon>
    </v-tab>

    <v-tab-item value="tab-1">
      <v-card flat>
        <v-card-text>
          <div class="v-toolbar__title">U bent ingelogd als</div>
          <v-simple-table light width="100%">
            <tbody>
            <tr>
              <td>Klantnummer</td>
              <td>{{ this.$store.state.organizationId }}</td>
            </tr>
            <tr>
              <td>Organisatie</td>
              <td>{{ this.$store.state.organization }}</td>
            </tr>
            <tr>
              <td>Terminal naam</td>
              <td>{{ this.$store.state.terminal }}</td>
            </tr>
            </tbody>
          </v-simple-table>
          <v-switch v-model="compactMode" label="Gebruik compacte weergave" @change="changeCompactMode"
                    width="100%"></v-switch>
        </v-card-text>
      </v-card>
    </v-tab-item>

    <v-tab-item value="tab-2">
      <v-card flat v-if="items.length > 0">
        <v-card-title primary-title class="justify-center pa-4">
          Laatste 5 ontvangsten
        </v-card-title>
        <v-card-text>
          <v-flex xs12>
            <v-card v-for="item in items" v-bind:key="item.id" elevation="4" @click="show_details(item)" class="my-4">
              <v-card-title>
                &euro; {{ formatAmount(item) }}
              </v-card-title>
              <v-card-text>
                <v-flex>
                  <v-row align-center justify-space-between fill-height>
                    <v-col cols="12" cols-md="6">
                      {{ formatDate(item, 'paid_at') }}
                    </v-col>
                    <v-col cols="12" cols-md="6">
                      {{ formatDetails(item, 'iban') }}
                    </v-col>
                  </v-row>
                </v-flex>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-card-text>
      </v-card>
      <v-card v-else>
        <v-card-title primary-title class="justify-center pa-4">
          Nog geen betalingen ontvangen op deze terminal
        </v-card-title>
      </v-card>
    </v-tab-item>

    <v-dialog
      v-model="dialog"
      width="500"
    >
      <PaymentDetails v-if="detailItem" :detailItem="detailItem"
                      v-on:closeDialog="dialogClose()"></PaymentDetails>
    </v-dialog>

  </v-tabs>
</template>

<script>
  import PaymentDetails from './PaymentDetails'

  export default {
    name: 'Info',
    components: {
      PaymentDetails
    },
    data () {
      return {
        selectedTab: 'tab-1',
        dialog: false,
        loaded: false,
        headers: [
          { text: 'Locatie', value: 'transaction.client.description' },
          { text: 'Omschrijving', value: 'transaction.description' },
          { text: 'Bedrag', value: 'amount' },
          { text: 'Betaald door', value: 'details' },
          {
            text: 'Betaald op',
            align: 'left',
            sortable: true,
            value: 'paid_at'
          },
          { text: 'Status', value: 'processed' },
          { text: '', value: 'id' }
        ],
        items: [{ paid_at: 0, amount: 0, details: { consumer_name: 'Bezig met laden', iban: '' }, id: 0 }],
        detailItem: false,
        sortBy: 'paid_at',
        descending: true,
        compactMode: this.$store.state.compactMode
      }
    },
    mounted () {
      this.$nextTick(function () {
        this.loadPayments()
      })
    },
    methods: {
      dialogClose () {
        this.dialog = false
        this.detailItem = false
      },
      changeCompactMode (e) {
        this.compactMode = e
        this.$store.commit('setCompactMode', !!e)
        // console.dir(e)
      },
      show_details (item) {
        this.detailItem = item
        this.dialog = true
      },
      loadPayments () {
        if (this.$store.state.authKey.length === 0 || this.$store.state.accessToken.length === 0) {
          this.$router.replace(this.$route.query.redirect || '/')
        }
        this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.authKey

        const formData = new FormData()
        formData.append('access_token', this.$store.state.accessToken)

        formData.append('client_id', this.$store.state.terminalId)

        this.$http
          .post('/get-terminal-payments?sort=-paid_at&per-page=5', formData)
          .then((response) => this.handleData(response))
          .catch((e) => this.error(e))
      },
      handleData (response) {
        this.loaded = true
        this.items = response.data
      },
      formatDate (item, prop) {
        if (!item[prop] || item[prop].indexOf('-') === -1) {
          return '00-00-0000 00:00'
        }
        let dateTimeParts = item[prop].split(/[- :]/) // regular expression split that creates array with: year, month, day, hour, minutes, seconds values
        dateTimeParts[1]-- // monthIndex begins with 0 for January and ends with 11 for December so we need to decrement by one

        const dateObject = new Date(...dateTimeParts) // our Date object
        return dateObject.toLocaleDateString(undefined) + ' ' + dateObject.toLocaleTimeString(undefined)
      },
      formatAmount (item) {
        const a = item.amount / 100
        return a.toLocaleString(
          undefined, // leave undefined to use the browser's locale,
          // or use a string like 'en-US' to override it.
          { minimumFractionDigits: 2 }
        )
      },
      formatDetails (item, prop) {
        let response = ''
        if (item.details) {
          if (item.details[prop] && item.details[prop].length > 0) {
            response += item.details[prop]
          }
        }
        return response
      },
      initMercure () {
        const u = new URL('https://mercure.detechniek.nl/.well-known/mercure')

        u.searchParams.append('topic', 'qr-kassa-pwa-transactions-' + this.$store.state.accessToken + '-' + this.$store.state.terminalId)

        const es = new EventSource(u)
        es.onmessage = e => {
          this.loadPayments()
        }
      }
    }
  }
</script>

<style scoped>

</style>
