<template>
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>
      Details
    </v-card-title>

    <v-card-text>
      <div class="v-data-table theme--light custom-table">
        <div class="v-data-table__wrapper">
          <v-simple-table v-if="detailItem !== false" class="theme--light">
            <tbody>
            <tr>
              <td>Terminal</td>
              <td>{{detailItem.transaction.client.description}}</td>
            </tr>
            <tr>
              <td>Omschrijving</td>
              <td>{{detailItem.transaction.description}}</td>
            </tr>
            <tr v-if="detailItem.details">
              <td>Naam klant</td>
              <td>{{detailItem.details.consumer_name}}</td>
            </tr>
            <tr v-if="detailItem.details">
              <td>IBAN klant</td>
              <td>{{detailItem.details.iban}}</td>
            </tr>
            <tr>
              <td>Outlet</td>
              <td>{{detailItem.transaction.outlet.name}}</td>
            </tr>
            <tr>
              <td>Transactie ID</td>
              <td>{{detailItem.transaction.id}}</td>
            </tr>
            <tr>
              <td>Bedrag</td>
              <td>&euro; {{formatAmount(detailItem)}}</td>
            </tr>
            <tr>
              <td>Betaald op</td>
              <td>{{formatDate(detailItem, 'paid_at')}}</td>
            </tr>
            </tbody>
          </v-simple-table>
        </div>
      </div>

    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="close">
        Sluiten
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'PaymentDetails',
    props: {
      detailItem: Object
    },
    data () {
      return {}
    },
    methods: {
      formatDate (item, prop) {
        if (!item[prop] || item[prop].indexOf('-') === -1) {
          return '00-00-0000 00:00'
        }
        let dateTimeParts = item[prop].split(/[- :]/) // regular expression split that creates array with: year, month, day, hour, minutes, seconds values
        dateTimeParts[1]-- // monthIndex begins with 0 for January and ends with 11 for December so we need to decrement by one

        const dateObject = new Date(...dateTimeParts) // our Date object
        return dateObject.toLocaleDateString(undefined) + ' ' + dateObject.toLocaleTimeString(undefined)
      },
      formatAmount (item) {
        const a = item.amount / 100
        return a.toLocaleString(
          undefined, // leave undefined to use the browser's locale,
          // or use a string like 'en-US' to override it.
          { minimumFractionDigits: 2 }
        )
      },
      formatDetails (item, prop) {
        let response = ''
        if (item.details) {
          if (item.details[prop] && item.details[prop].length > 0) {
            response += item.details[prop]
          }
        }
        return response
      },
      close () {
        this.$emit('closeDialog')
      }
    }
  }
</script>

<style scoped>

</style>
