<template>
  <div class="scan">
    <v-alert v-if="error != ''" :value="true" type="error">{{ error }}</v-alert>

    <v-card v-if="this.$store.state.accessToken === ''">
      <form @submit.prevent="submit($data)">
        <v-card-title primary-title class="justify-center pa-4">
          <div class="justify-center">
            <div class="headline">
              {{ msg }}
              <v-alert :value="errorMsg != ''" type="error">
                {{ errorMsg }}
              </v-alert>
            </div>
            <div class="pa-4" :class="{ 'hasError': $v.merchant_id.$error }">
              <v-text-field reverse v-model="merchant_id" label="Voer uw klantnummer in"
                            placeholder="123456" autofocus required
                            mask="#######"></v-text-field>
              <p v-if="$v.merchant_id.$dirty && !$v.merchant_id.required">Het klantnummer is
                verplicht!</p>
              <p v-if="$v.merchant_id.$dirty && !$v.merchant_id.integer">Het klantnummer is numeriek</p>
            </div>
            <div class="pa-4" :class="{ 'hasError': $v.pin.$error }">
              <v-text-field reverse v-model="pin" label="Voer de pincode in"
                            placeholder="AA1234" required
                            mask="AA####"></v-text-field>
              <p v-if="$v.pin.$dirty && !$v.pin.required">De pincode is verplicht!</p>
            </div>
          </div>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn class="ma-4" large dark color="success" @click="submit">Verbind</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </div>
</template>

<script>
  import { integer, required } from 'vuelidate/lib/validators'

  export default {
    name: 'pin',
    created () {
      if (this.$route.query.kn) {
        this.merchant_id = this.$route.query.kn
      }
      if (this.$route.query.pin) {
        this.pin = this.$route.query.pin
        this.submit()
      }
    },
    methods: {
      submit () {
        this.pin = this.pin.trim()
        this.merchant_id = this.merchant_id.replace(/[^0-9]+/g, '')
        this.$v.pin.$touch()
        this.$v.merchant_id.$touch()
        if (this.$v.pin.$error || this.$v.merchant_id.$error) return

        this.create()
      },
      create () {
        const formData = new FormData()
        formData.append('pin', this.pin.toString())
        formData.append('merchantID', this.merchant_id.toString())

        this.$http
          .post('/../auth/pin-connect', formData)
          .then(request => this.pinSuccessful(request))
          .catch(() => this.loginFailed())
      },
      connect (data) {
        this.$store.commit('addAccessToken', data.access_token)
        this.$store.commit('addAuthKey', data.auth_key)
        this.$store.commit('addTerminal', data.terminal.description)
        this.$store.commit('addTerminalId', data.terminal.id)
        this.$store.commit('addOrganizationId', data.organization_id)
        this.$store.commit('addOrganization', data.organization)
        this.$store.commit('addTransactionDescription', data.terminal.transaction_description)
        this.$store.commit('addTransactionDescriptionEditable', data.terminal.transaction_description_editable)

        this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + data.auth_key

        this.$http
          .get('/connect?access_token=' + data.access_token)
          .then(request => this.loginSuccessful(request, data))
          .catch(() => this.loginFailed())
      },
      pinSuccessful (req) {
        if (req.status !== 200) {
          this.loginFailed()
          return false
        }

        this.connect(JSON.parse(req.data))
      },
      loginSuccessful (req, data) {
        if (!req.status) {
          this.loginFailed()
          return
        }

        this.isValid = true

        this.$router.replace(this.$route.query.redirect || '/')
      },
      loginFailed () {
        this.errorMsg = 'login mislukt'
        this.isValid = false
        this.$store.commit('clearAuth')
      }
    },
    data () {
      return {
        msg: 'Inloggen',
        error: '',
        errorMsg: '',
        isValid: false,
        validating: false,
        paused: false,
        result: null,
        pin: null,
        merchant_id: null
      }
    },
    validations: {
      pin: { required },
      merchant_id: { required, integer }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .validation-layer {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .validation-notice {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .valid {
    color: green;
  }

  .invalid {
    color: red;
  }
</style>
