<template>
  <div class="container">
    <div class="scan">
      <h1>{{ msg }}</h1>
      <v-alert v-if="error !== ''" :value="true" type="error">{{ error }}</v-alert>

      <qrcode-stream :paused="paused" @decode="onDecode" @init="onInit">
        <div v-show="paused" class="validation-layer">
          <div class="validation-notice">
            <div v-if="validating">Validating</div>
          </div>
        </div>
      </qrcode-stream>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'scan',
    methods: {
      async onDecode (content) {
        this.result = content

        this.pauseCamera()

        this.validating = true
        this.isValid = await this.validate(content)
        this.validating = false

        window.setTimeout(() => {
          this.unPauseCamera()
        }, 2000)
      },
      pauseCamera () {
        this.paused = true
      },

      unPauseCamera () {
        this.paused = false
      },

      validate (content) {
        return new Promise(resolve => {
          console.dir(content)
          if (content.indexOf('https://digiwallet.nl/betaalterminal/#/pin') === 0) {
            document.location.href = content
          } else {
            const json = JSON.parse(content)
            resolve(this.connect(json))
          }
        })
      },
      connect (data) {
        this.$store.commit('addAccessToken', data.access_token)
        this.$store.commit('addAuthKey', data.auth_key)
        this.$store.commit('addTerminal', data.terminal.description)
        this.$store.commit('addTerminalId', data.terminal.id)
        this.$store.commit('addOrganizationId', data.organization_id)
        this.$store.commit('addOrganization', data.organization)
        this.$store.commit('addTransactionDescription', data.terminal.transaction_description)
        this.$store.commit('addTransactionDescriptionEditable', data.terminal.transaction_description_editable)

        this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + data.auth_key

        this.$http
          .get('/connect?access_token=' + data.access_token)
          .then(request => this.loginSuccessful(request, data))
          .catch(() => this.loginFailed())
      },
      loginSuccessful (req, data) {
        if (!req.status) {
          this.loginFailed()
          return
        }

        this.isValid = true

        this.$router.replace(this.$route.query.redirect || '/')
      },
      loginFailed () {
        this.isValid = false
        this.$store.commit('clearAuth')
      },
      async onInit (promise) {
        try {
          await promise
        } catch (error) {
          if (error.name === 'NotAllowedError') {
            this.error = 'ERROR: you need to grant camera access permisson'
          } else if (error.name === 'NotFoundError') {
            this.error = 'ERROR: no camera on this device'
          } else if (error.name === 'NotSupportedError') {
            this.error = 'ERROR: secure context required (HTTPS, localhost)'
          } else if (error.name === 'NotReadableError') {
            this.error = 'ERROR: is the camera already in use?'
          } else if (error.name === 'OverconstrainedError') {
            this.error = 'ERROR: installed cameras are not suitable'
          } else if (error.name === 'StreamApiNotSupportedError') {
            this.error = 'ERROR: Stream API is not supported in this browser'
          }
        }
      }
    },
    data () {
      return {
        msg: 'Scan de QR Code om QR-Kassa te activeren',
        error: '',
        isValid: false,
        validating: false,
        paused: false,
        result: null
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  video {
    max-width: 90vw;
    max-height: 90vw;
  }

  .validation-layer {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .validation-notice {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .valid {
    color: green;
  }

  .invalid {
    color: red;
  }
</style>
