<template>
  <div id="app">
    <v-app>
      <v-app toolbar>
        <v-toolbar color="#45adee">
          <v-toolbar-title @click='home'>
            <img src="./assets/digiwallet_logo.png" alt="Digiwallet.nl">
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click='info' v-if="this.$store.state.accessToken != ''">
            <v-icon color="#fff">settings</v-icon>
          </v-btn>
          <v-btn icon @click='logout' v-if="this.$store.state.accessToken != ''">
            <v-icon color="#fff">lock_open</v-icon>
          </v-btn>
          <v-btn icon @click='home'>
            <v-icon color="#fff">home</v-icon>
          </v-btn>
        </v-toolbar>
        <main>
          <v-container fluid>
            <v-fade-transition mode="out-in">
              <router-view></router-view>
            </v-fade-transition>
          </v-container>

          <v-dialog
            v-model="dialog"
            v-if="this.$store.state.accessToken != ''"
            width="500"
          >
            <v-card>
              <v-card-text>
                <Info></Info>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  flat
                  @click="dialog = false"
                >
                  Sluit
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </main>
        <v-snackbar
          v-model="snackWithButtons"
          :timeout="timeout"
          bottom
          left
          class="snack"
        >
          {{ snackWithBtnText }}
          <v-spacer />
          <v-btn
            dark
            flat
            color="#00f500"
            @click.native="refreshApp"
          >
            {{ snackBtnText }}
          </v-btn>
          <v-btn
            icon
            @click="snackWithButtons = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-snackbar>
      </v-app>
    </v-app>
  </div>
</template>

<script>
  import Info from './components/Info'

  export default {
    name: 'app',
    data () {
      return {
        dialog: false,
        refreshing: false,
        registration: null,
        snackBtnText: '',
        snackWithBtnText: '',
        snackWithButtons: false,
        timeout: 0
      }
    },
    components: {
      Info
    },
    methods: {
      info () {
        this.dialog = !this.dialog
      },
      logout () {
        this.$http
          .get('/disconnect?access_token=' + this.$store.state.accessToken)
          .then(() => this.clearStore())
          .catch((e) => this.logoutFailed())
      },
      logoutFailed (e) {
        alert('logout failed')
        console.error(e)
        this.clearStore()
      },
      clearStore () {
        this.$store.commit('clearAuth')

        this.$router.replace(this.$route.query.redirect || '/')
      },
      create () {
        this.$router.replace(this.$route.query.redirect || '/create')
      },
      home () {
        this.$router.replace('/')
      },
      check () {
        if (this.$store.state.accessToken !== '') {
          this.$http
            .get('/check?access_token=' + this.$store.state.accessToken)
            .then((response) => this.checkResponse(response))
            .catch((e) => this.logoutFailed(e))
        }
      },
      checkResponse (response) {
        if (response.data === false || response.data.status !== 'Connected') {
          this.logout()
        }
      },
      initMercure () {
        const u = new URL('https://mercure.detechniek.nl/.well-known/mercure')

        u.searchParams.append('topic', 'qr-kassa-pwa-status-' + this.$store.state.accessToken)

        const es = new EventSource(u)
        es.onmessage = e => {
          this.check()
        }
      },
      showRefreshUI (e) {
        // Display a snackbar inviting the user to refresh/reload the app due
        // to an app update being available.
        // The new service worker is installed, but not yet active.
        // Store the ServiceWorkerRegistration instance for later use.
        this.registration = e.detail
        this.snackBtnText = 'Refresh'
        this.snackWithBtnText = 'New version available!'
        this.snackWithButtons = true
      },
      refreshApp () {
        this.snackWithButtons = false
        // Protect against missing registration.waiting.
        if (!this.registration || !this.registration.waiting) { return }
        this.registration.waiting.postMessage('skipWaiting')
      }
    },
    created () {
      this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.authKey
      if (this.$store.state.accessToken !== '') {
        this.initMercure()
      }
      document.addEventListener(
        'swUpdated', this.showRefreshUI, { once: true }
      )

      navigator.serviceWorker.addEventListener(
        'controllerchange', () => {
          if (this.refreshing) return
          this.refreshing = true
          window.location.reload()
        }
      )
    }
  }
</script>

<style lang="scss">
  body {
    margin: 0;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #fff;
  }

  #app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
  }

  main {
    text-align: center;
    padding-top: 40px;
    background: url(./assets/banner-home.jpg) top left no-repeat;
    background-size: cover;
    height: 100%;
    /*min-height: 640px;*/
    @media only screen and (max-width: 480px) {
      padding-top: 12px;
      /*min-height: auto;*/
    }
  }

  .data-table {
    td {
      &:first-of-type {
        font-weight: bold;
      }
    }
  }
</style>
