<template>
  <form @submit.prevent="submit($data)">
    <v-row class="justify-space-around justify-center">
      <v-col cols="auto">
        <v-card class="mx-auto px-8">

          <v-card-title primary-title class="justify-center pa-4">
            <div class="justify-center">
              <div class="headline">
                {{ msg }}
                <v-alert :value="errorMsg != ''" type="error">
                  {{ errorMsg }}
                </v-alert>
              </div>
            </div>
          </v-card-title>
          <v-card-text>
            <div class="pa-4" :class="{ 'hasError': $v.amount.$error }">
              <v-text-field reverse v-model="amount" label="Bedrag" autofocus type="number"
                            step=".01" suffix="€" required @blur="$v.amount.$touch()"></v-text-field>
              <p v-if="$v.amount.$dirty && !$v.amount.required">Het bedrag is verplicht!</p>
              <p v-if="!$v.amount.between">Bedrag moet tussen {{
                formatAmount($v.amount.$params.between.min) }} en {{
                formatAmount($v.amount.$params.between.max) }}</p>
            </div>
            <div class="pa-4" :class="{ 'hasError': $v.transactionDescription.$error }">
              <v-text-field reverse v-model="transactionDescription"
                            label="Omschrijving" type="text" :readonly="!transactionDescriptionEditable"
                            required @blur="$v.transactionDescription.$touch()"></v-text-field>
              <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.required">De omschrijving is
                verplicht!</p>
              <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.maxLength">De omschrijving mag
                maximaal 32
                karaketers bevatten</p>
            </div>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn class="ma-4" large dark color="success" @click="submit">Maak Betaal QR Code</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </form>
</template>

<script>
  import { formMixin } from '../../mixins/formMixin'

  export default {
    name: 'FormNormal',
    mixins: [formMixin]
  }
</script>
