<template>
  <form @submit.prevent="submit($data)" class="compact-form">
    <v-row class="justify-space-around justify-center">
      <v-col cols="12">
        <v-card class="mx-auto px-8">
          <v-card-text>
            <div>
              {{ msg }}
              <v-alert :value="errorMsg != ''" type="error">
                {{ errorMsg }}
              </v-alert>
            </div>
            <div class="px-4" :class="{ 'hasError': $v.amount.$error }">
              <v-text-field reverse v-model="amount" label="Bedrag" autofocus type="number"
                            step=".01" suffix="€" required @blur="$v.amount.$touch()"></v-text-field>
              <p v-if="$v.amount.$dirty && !$v.amount.required">Het bedrag is verplicht!</p>
              <p v-if="!$v.amount.between">Bedrag moet tussen {{
                formatAmount($v.amount.$params.between.min) }} en {{
                formatAmount($v.amount.$params.between.max) }}</p>
            </div>
            <div class="px-4" :class="{ 'hasError': $v.transactionDescription.$error }">
              <v-text-field reverse v-model="transactionDescription"
                            label="Omschrijving" type="text" :readonly="!transactionDescriptionEditable"
                            required @blur="$v.transactionDescription.$touch()"></v-text-field>
              <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.required">De omschrijving is
                verplicht!</p>
              <p v-if="$v.transactionDescription.$dirty && !$v.transactionDescription.maxLength">De omschrijving mag
                maximaal 32
                karaketers bevatten</p>
            </div>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn class="ma-4 d-none d-sm-flex" large dark color="success" @click="submit">Maak Betaal QR Code
            </v-btn>
            <v-btn class="d-none d-sm-flex d-md-none" fab ripple fixed bottom right large dark color="success"
                   @click="submit">
              <v-icon color="#fff">keyboard_arrow_right</v-icon>
            </v-btn>
            <v-btn class="d-flex d-sm-none" fab ripple absolute bottom right large dark color="success" @click="submit">
              <v-icon color="#fff">keyboard_arrow_right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </form>
</template>

<script>
  import { formMixin } from '../../mixins/formMixin'

  export default {
    name: 'FormNormal',
    mixins: [formMixin]
  }
</script>
<style>
  .compact-form {
    margin-top: -32px;
  }
</style>
